.mobile-content {
  max-width: 450px;
  margin: 10px auto 0 auto;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Copse', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Copse', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
#container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
#header-main {
  background: #fcec4f;
}
@media (max-width:500px) {
  #header-main {
    max-width: 100%;
  }
}
#header-main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
}
@media (max-width:500px) {
  #header-main nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding-left: 40px;
    padding-right: 40px;
    height: 80px;
    position: fixed;
    width: 100%;
  }
}
#header-main nav #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-transform: translate(0px, 4px);
  -ms-transform: translate(0px, 4px);
  transform: translate(0px, 4px);
  margin-left: 60px;
}
@media (max-width:500px) {
  #header-main nav #logo {
    margin-left: 0px;
    justify-items: flex-start;
  }
}
#header-main nav #logo img {
  -webkit-transform: translate(0px, -21px);
  -ms-transform: translate(0px, -21px);
  transform: translate(0px, -21px);
}
#header-main nav #logo .title {
  font-size: 24px;
  font-weight: 500;
}
#header-main nav #logo .title::after {
  content: attr(data-end);
  font-size: 12px;
  padding-left: 2px;
}
#header-main nav .menu-button .line {
  width: 35px;
  height: 5px;
  background-color: #2e72b9;
  margin: 6px 0;
  display: none;
}
@media (max-width:500px) {
  #header-main nav .menu-button .line {
    display: block;
  }
}
#header-main nav .headerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 60px;
  height: 70px;
}
@media (max-width:500px) {
  #header-main nav .headerLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    display: none;
  }
}
#header-main nav .headerLinks a {
  text-decoration: none;
  text-align: center;
  color: #0d0221;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  margin: 10px;
}
@media (max-width:500px) {
  #header-main nav .headerLinks a {
    padding: 0;
  }
}
#header-main nav .headerLinks a:hover {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
}
#header-main nav .headerLinks #id-btn {
  height: 50px;
  width: 120px;
  background: #2e72b9;
  color: white;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
#header-main nav:hover {
  background: white;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: none;
}
.menu a {
  text-decoration: none;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #0d0221;
  margin-left: 20px;
  margin-right: 20px;
}
.menu .mobile-login {
  background: #2e72b9;
  padding: 10px;
  height: 35px;
  color: white;
}
@media (max-width:500px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    text-align: left;
    top: 75px;
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color: white;
    border-left: none;
    border-bottom: none;
    z-index: 2;
    margin: 0 0 0 0;
    -webkit-transition: height 1000ms;
    -o-transition: height 1000ms;
    transition: height 1000ms;
  }
}
.menu-open {
  height: 50px;
}
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background: #fcec4f;
  height: 600px;
  padding-top: 70px;
  z-index: 3;
}
@media (max-width:500px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 160px;
    height: 900px;
  }
}
.banner .home-content {
  padding-top: 30px;
}
@media (max-width: 800px) {
  .banner .home-content {
    padding-right: 30px;
  }
}
@media (max-width:500px) {
  .banner .home-content {
    padding: 0px;
  }
}
.banner .home-content h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.6;
}
@media (max-width:500px) {
  .banner .home-content h1 {
    font-size: 30px;
    line-height: 1.7;
  }
}
.banner .home-content p {
  padding-bottom: 20px;
  padding-top: 30px;
  font-size: 20px;
}
@media (max-width:500px) {
  .banner .home-content p {
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
  }
}
.banner .home-content .learn-btn {
  width: 160px;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  border: transparent;
  background: #cdd2d0;
  margin-top: 20px;
}
@media (max-width:500px) {
  .banner .home-content .learn-btn {
    margin-top: 5px;
  }
}
.banner .circle-wrap {
  position: relative;
  padding-left: 30px;
  padding-top: 70px;
  padding-right: 80px;
}
@media (max-width: 800px) {
  .banner .circle-wrap {
    padding-right: 30px;
    padding-top: 90px;
  }
}
@media (max-width:500px) {
  .banner .circle-wrap {
    padding: 30px 0px 0px 0px;
  }
}
.banner .text {
  font-size: 35px;
  line-height: 2.2;
  letter-spacing: 1px;
  position: absolute;
  text-align: middle;
  z-index: 5;
  top: 28%;
  left: 45%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  color: #0d0221;
  font-weight: 600;
}
@media (max-width: 800px) {
  .banner .text {
    font-size: 30px;
    top: 32%;
    left: 48%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@media (max-width:500px) {
  .banner .text {
    font-size: 30px;
    top: 32%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
.banner .radial-progress {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: #cdd2d0;
  border-radius: 50%;
}
.banner .radial-progress .circle .mask,
.banner .radial-progress .circle .fill,
.banner .radial-progress .circle .shadow {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
}
.banner .radial-progress .circle .shadow {
  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1) inset;
}
.banner .radial-progress .circle .mask,
.banner .radial-progress .circle .fill {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 2s;
  transition: -ms-transform 2s;
  -webkit-transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}
.banner .radial-progress .circle .mask {
  clip: rect(0px, 300px, 300px, 150px);
}
.banner .radial-progress .circle .mask .fill {
  clip: rect(0px, 150px, 300px, 0px);
  background: #2e72b9;
}
.banner .radial-progress .inset {
  width: 260px;
  height: 260px;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  background: #cdd2d0;
  opacity: 0.9;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.8);
}
#footer-main {
  bottom: 0;
  margin-bottom: 0px;
  height: 80px;
}
#footer-main a {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-decoration: none;
  margin-top: 15px;
  color: black;
}
body {
  font-size: 62.5%;
  font-family: 'Playfair Display', serif;
}
#ABTheader {
  background: #6488DD;
}
@media (max-width:500px) {
  #ABTheader {
    max-width: 100%;
  }
}
#ABTheader nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width:500px) {
  #ABTheader nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
#ABTheader nav:hover {
  background: white;
}
#ABTheader .headerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  margin-right: 30px;
}
@media (max-width:500px) {
  #ABTheader .headerLinks {
    margin-top: -25px;
    margin-right: 0;
  }
}
#ABTheader a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  padding: 0 1.5rem;
}
#ABTheader a:hover {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
}
#ABTheader #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 20px;
}
#ABTheader #logo img {
  margin-right: 10px;
}
#ABTheader p {
  font-size: 2.4rem;
}
.aboutBanner {
  background-color: #6488DD;
  height: 550px;
}
.aboutMain {
  font-family: 'Playfair Display', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.aboutBox {
  font-family: 'Playfair Display', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: middle;
  -ms-flex-pack: middle;
  justify-content: middle;
  background: none;
  margin: 0 0 2em 0;
  padding: 3em;
  text-align: center;
  margin-top: -500px;
  position: absolute;
  z-index: 5;
  width: 1200px;
}
@media (max-width:1200px) {
  .aboutBox {
    width: 100%;
    padding: 20px;
  }
}
.aboutBox .aboutBoxTop {
  font-family: 'Playfair Display', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width:1200px) {
  .aboutBox .aboutBoxTop {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
}
.aboutBox h2 {
  font-family: 'Playfair Display', serif;
  padding: 10px 0 0 0;
  font-size: 4rem;
  text-align: left;
}
.aboutBox p {
  padding-bottom: 40px;
  text-align: left;
}
.aboutMidBox {
  font-family: 'Playfair Display', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-right: 0px;
}
@media (max-width:1200px) {
  .aboutMidBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}
.aboutMidBox .reportCard {
  font-family: 'Playfair Display', serif;
  width: 45%;
  margin-right: 30px;
}
@media (max-width:1200px) {
  .aboutMidBox .reportCard {
    width: 100%;
    margin-bottom: 60px;
  }
}
.aboutMidBox .reportCard h3 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.aboutMidBox .aboutImg {
  width: 55%;
  height: 500px;
}
@media (max-width:1200px) {
  .aboutMidBox .aboutImg {
    width: 100%;
    margin-left: 0;
    height: 30%;
  }
}
.aboutAPP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 40px;
}
@media (max-width:500px) {
  .aboutAPP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.aboutAPP div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 33%;
  margin: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width:500px) {
  .aboutAPP div {
    width: 100%;
    margin: 0;
  }
}
.aboutAPP div img {
  background: gray;
  height: 400px;
}
.aboutAPP div p {
  text-align: center;
  margin-top: 15px;
}
/* Style the buttons that are used to open and close the accordion panel */
.reportCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.reportCard button {
  font-size: 2.5rem;
  border-bottom: 2px solid;
}
.gradeCard {
  font-family: 'Playfair Display', serif;
  background: none;
  color: black;
  cursor: pointer;
  padding: 18px 18px 18px 0px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.gradeCard:hover {
  background-color: #F6F7F8;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  text-align: left;
  padding-top: 20px;
}
.aboutBottomBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width:1200px) {
  .aboutBottomBox {
    width: 100%;
  }
}
.aboutBottomBox {
  padding-top: 60px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
@media (max-width:500px) {
  .aboutBottomBox {
    height: 400px;
  }
}
.aboutBottomBox .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 30%;
}
@media (max-width:500px) {
  .aboutBottomBox .row1 {
    height: 33%;
  }
}
.aboutBottomBox .row1 h2 {
  margin-left: 20px;
  width: 80%;
}
@media (max-width:500px) {
  .aboutBottomBox .row1 h2 {
    width: 70%;
    font-size: 2rem;
  }
}
.aboutBottomBox .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 33%;
}
.aboutBottomBox .block1 {
  background: #14150F;
  height: 100%;
  width: 20%;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
@media (max-width:1200px) {
  .aboutBottomBox .block1 {
    width: 40%;
  }
}
.aboutBottomBox .block2 {
  background: #14150F;
  height: 100%;
  width: 40%;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
@media (max-width:1200px) {
  .aboutBottomBox .block2 {
    width: 68%;
  }
}
.aboutBottomBox .block3 {
  background: #14150F;
  height: 37%;
  width: 60%;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
@media (max-width:1200px) {
  .aboutBottomBox .block3 {
    width: 100%;
  }
}
.footer {
  background: #6488DD;
  height: 500px;
  width: 100%;
  margin-top: 938px;
}
@media (max-width:1200px) {
  .footer {
    margin-top: 1396px;
  }
}
@media (max-width:500px) {
  .footer {
    margin-top: 1887px;
  }
}
h2 {
  color: black;
}
p {
  color: black;
}
header {
  background: #fcec4f;
}
header:hover {
  background-color: white;
}
.bannerWelcome {
  margin-top: 0px;
  padding-top: 2rem;
  background-color: #fcec4f;
}
.bannerWelcome h2 {
  text-align: center;
  color: black;
  margin: 0 0 2rem 0;
  font-size: 3rem;
}
@media (max-width:500px) {
  .bannerWelcome h2 {
    color: black;
    padding-top: 225px;
  }
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1.8rem;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
  color: black;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item .uiDevs .profile {
  margin-bottom: 2rem;
}
.tabs .tabs-item-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background: white;
}
.tabs .tabs-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #fcec4f;
  -webkit-transform: translate(0px, -21px);
  -ms-transform: translate(0px, -21px);
  transform: translate(0px, -21px);
}
@media (max-width:500px) {
  .tabs .tabs-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: none;
    color: black;
    width: 100%;
    padding-bottom: 0;
  }
}
.tabs .tabs-link {
  padding: 15px 20px;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: white;
}
@media (max-width:500px) {
  .tabs .tabs-link {
    text-align: center;
    font-size: 2rem;
    border-radius: 0;
    border: 1px solid black;
    background-color: none;
    color: black;
  }
}
.tabs .tabs-link-selected {
  background-color: white;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: white;
}
.tabs .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  max-width: 500px;
}
.tabs .profile h2 {
  font-size: 2.4rem;
  padding: 1rem;
}
.tabs .profile img {
  border-radius: 10px;
}
.tabs .profile p {
  font-size: 1.6rem;
  margin: 1rem;
  padding: 0 1rem 0 1rem;
}
.tabs .profile a {
  width: 100px;
}
.tabs .gitLogo {
  width: 90%;
  height: auto;
}
/*
// NAVIGATION Greg
#header {
  background: rgb(252, 236, 79);
  @media @phone {
    max-width: 100%;
  }
  // border: 1px solid black;
  .nav-bar {
    // border: 1px solid black;
    // display: flex;
    // justify-content: space-between;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media @phone {
      flex-direction: column;
    }
    // height: 100px;
    // border: 1px solid black;
  }
  nav:hover {
    background: white;
  }
  .headerLinks {
    // border: 1px solid black;
    display: flex;
    align-items: center;
    height: 70px;
    @media @phone {
      flex-direction: column;
      margin-top: -25px;
    }
  }
  a {
    text-decoration: none;
    // border: 1px solid black;
    color: #0d0221;
    font-size: 1.6rem;
    padding: 0 1.5rem;
    // border: 1px solid black;
  }
  a:hover {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
  }
  #logo {
    // border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    transform: translate(0px, 4px);
    img {
      // border: 1px solid black;
      transform: translate(0px, -21px);
    }
  }
  p {
    font-size: 2.4rem;
  }
}
*/
#header-main {
  background: #fcec4f;
}
@media (max-width:500px) {
  #header-main {
    max-width: 100%;
  }
}
#header-main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
}
@media (max-width:500px) {
  #header-main nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
#header-main nav #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-transform: translate(0px, 4px);
  -ms-transform: translate(0px, 4px);
  transform: translate(0px, 4px);
  margin-left: 60px;
}
@media (max-width:500px) {
  #header-main nav #logo {
    margin-left: 0px;
    justify-items: flex-start;
  }
}
#header-main nav #logo img {
  -webkit-transform: translate(0px, -21px);
  -ms-transform: translate(0px, -21px);
  transform: translate(0px, -21px);
}
#header-main nav #logo .title {
  font-size: 24px;
  font-weight: 500;
}
#header-main nav #logo .title::after {
  content: attr(data-end);
  font-size: 12px;
  padding-left: 2px;
}
#header-main nav .headerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 60px;
  height: 70px;
}
@media (max-width:500px) {
  #header-main nav .headerLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
  }
}
#header-main nav .headerLinks a {
  text-decoration: none;
  text-align: center;
  color: #0d0221;
  padding: 20px;
  font-size: 14px;
  margin: 10px;
}
@media (max-width:500px) {
  #header-main nav .headerLinks a {
    padding: 0;
  }
}
#header-main nav .headerLinks a:hover {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
}
#header-main nav .headerLinks #id-btn {
  height: 50px;
  width: 120px;
  background: #2e72b9;
  color: white;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
#header-main nav:hover {
  background: white;
}
