html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'NBI', 'Pro Bold', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
#container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.banner {
  background-color: lightgray;
  height: 500px;
}
.banner h1 {
  padding-top: 90px;
  padding-bottom: 30px;
}
.banner p {
  padding-bottom: 30px;
}
.banner button {
  padding: 10px;
  margin: 0 10px 0 10px;
  width: 90px;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}
.nav-bar a {
  text-decoration: none;
  text-align: center;
  color: grey;
  padding: 25px;
  font-size: 14px;
}
.main {
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: middle;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  margin: 0 0 2em 0;
  padding: 3em;
  text-align: center;
  margin-top: -70px;
  position: absolute;
  z-index: 5;
  width: 80%;
}
.box .image {
  width: 100%;
  height: 300px;
  background-color: lightgray;
}
.box h2 {
  padding: 15px;
  padding-bottom: 60px;
}
.box p {
  padding-bottom: 40px;
}
aboutNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background: #7fefbd;
  border-radius: 6px;
  box-shadow: 0 8px 0 0 #cbdfbd;
}
.aboutNav-bar a {
  text-decoration: none;
  text-align: center;
  color: grey;
  padding: 25px;
  font-size: 14px;
}
.aboutBanner {
  background-color: #54577c;
  height: 500px;
}
.aboutBanner h1 {
  padding-top: 90px;
  padding-bottom: 30px;
}
.aboutBanner p {
  padding-bottom: 30px;
}
.aboutBanner button {
  padding: 10px;
  margin: 0 10px 0 10px;
  width: 90px;
}
.aboutMain {
  display: flex;
  justify-content: center;
}
.aboutBox {
  display: flex;
  flex-direction: column;
  justify-content: middle;
  background: #F6F7F8;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  margin: 0 0 2em 0;
  padding: 3em;
  text-align: center;
  margin-top: -450px;
  position: absolute;
  z-index: 5;
  width: 60%;
}
.aboutBox .aboutBoxTop {
  display: flex;
  flex-direction: column;
  justify-content: middle;
}
.aboutBox .aboutBoxTop .aboutImg {
  width: 60%;
  height: 300px;
  background-color: lightgray;
}
.aboutBox h2 {
  padding: 15px;
  padding-bottom: 60px;
}
.aboutBox p {
  padding-bottom: 40px;
}
.aboutMidBox {
  display: flex;
  flex-direction: row;
}
.aboutMidBox .reportCard {
  width: 30%;
  margin-right: 20px;
}
.aboutMidBox .reportCard h2 {
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.aboutMidBox .aboutImg {
  width: 65%;
  margin-left: 20px;
}
/* Style the buttons that are used to open and close the accordion panel */
.reportCard {
  display: flex;
  flex-direction: column;
}
.reportCard button {
  font-size: 2.5rem;
  border-bottom: 2px solid;
}
.gradeCard {
  width: 50%;
  background-color: #F6F7F8;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.gradeCard:hover {
  background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  text-align: left;
  padding-top: 20px;
}
