//* { 
 // outline: 1px solid red;
//  outline-offset: -1px;
//}
@ABTtablet: ~"(max-width:1200px)";
body{
  font-size: 62.5%;
  font-family: 'Playfair Display', serif;
}
// NAVIGATION
#ABTheader {
  background: #6488DD;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index:99;
  
  @media @tablet {
    background: #6488DD;
    margin-bottom: 40px;
  }
 
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    @media @tablet {
      flex-direction: row-reverse;
      padding-left: 40px;
      padding-right: 40px;
      height: 80px;
      position: fixed;
      width: 100%;
    }

    #logo {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-left: 60px;
      @media @tablet {
        margin-left: 0px;
        justify-items: flex-start; 
      }
      img {
       margin-right: 10px;
      }
      .title {
        font-size: 24px;
        font-weight: 500;
      }
      .title::after {
        content: attr(data-end);
        font-size: 12px;
        padding-left: 2px;
      }
    }

    .menu-button {
      .line {
        width: 35px;
        height: 5px;
        background-color:rgb(252, 236, 79);
        margin: 6px 0;
        display: none;
        @media @tablet {
          display: block;
        }
      }
    }

    .headerLinks {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-right: 60px;
      height: 70px;
      
      @media @tablet {
        flex-direction: column;
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0;
        display: none;
      }
      a {
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        color: #0d0221;
        padding: 20px;
        font-size: 14px;
        margin: 10px;
        @media @tablet {
          padding: 0;
        }   
      }
      a:hover {
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
      }
      #id-btn {
        height: 50px;
        width: 120px;
        background: rgb(252, 236, 79);
        color: black;
        flex-grow: 2;
      }
    }
  }

  nav:hover {
    background: white;
  }
}
// Mobile size Menu 
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  a {
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #0d0221;
    margin-left: 20px;
    margin-right: 20px;
  }
  .mobile-login {
    background: rgb(252, 236, 79);
    padding: 10px;
    height: 35px; 
    color:black;  
  }
  @media @tablet {
    display: flex;
    position: fixed;
    text-align: left;
    top: 75px;
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color: white;
    border-left: none;
    border-bottom: none;
    z-index: 2; 
    margin: 0 0 0 0;
    transition: height 1000ms;
  }
}
.menu-open {
  height: 50px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index:99;
}

 
  //banner
  .aboutBanner {
    background-color: #6488DD;
    //background-color: #537BD9;
    height: 550px;
  }

  //main
  .aboutMain {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-top: 40px;
  }
  
  .aboutBox {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: middle;
    background: none;
    
    margin: 0 0 2em 0;
    padding: 3em;
    text-align: center;
    margin-top: -500px;
    position: absolute;
    z-index: 5;
    width: 1200px;
    @media @ABTtablet{
    width: 100%;
    padding: 20px;
    }

    .aboutBoxTop{
      font-family: 'Playfair Display', serif;
      display: flex;
      flex-direction: column;
      @media @ABTtablet{
        justify-content: center;
        width: 100%;
        }
      
    }
    h2 {
      font-family: 'Playfair Display', serif;
      padding: 10px 0 0 0;
      font-size: 4rem;
      text-align: left
    }
    p {
      padding-bottom: 40px;
      text-align: left;
    }
  }
  .aboutMidBox{
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    padding-right: 0px;
    @media @ABTtablet{
      flex-direction: column;
      width: 100%;
    }
    .reportCard{
      font-family: 'Playfair Display', serif;
      width: 45%;
      margin-right: 30px;
      @media @ABTtablet{
        width: 100%;
        margin-bottom: 60px;
      }
      h3{
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        text-align: left;
        margin-bottom: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
      }
    }
    .aboutImg{
      width: 55%;
      height: 500px;
      @media @ABTtablet{
        width: 100%;
        margin-left: 0;
        height: 30%;
      }
      }
    }
   .aboutAPP{
     display: flex;
     flex-direction: row;
     margin-top: 40px;
     @media @phone{
     flex-direction: column;
     }

     div{
       display: flex;
       flex-direction: column;
       width: 33%;
       margin: 20px;
       justify-content: center;
       @media @phone{
        width: 100%;
        margin: 0;
        }
       img{
        background: gray;
        height: 400px;
       }
       p{
        text-align: center;
        margin-top: 15px;
       }
     }
   }

  
/* Style the buttons that are used to open and close the accordion panel */
.reportCard{
  display: flex;
  flex-direction: column;
  button{
    font-size: 2.5rem;
    border-bottom: 2px solid;
  }
}
.gradeCard {
  font-family: 'Playfair Display', serif;
  background: none;
  color: black;
  cursor: pointer;
  padding: 18px 18px 18px 0px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .gradeCard:hover {
  background-color: @porcelain;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  text-align: left;
  padding-top: 20px;
}

.aboutBottomBox{
  display: flex;
  
  @media @ABTtablet{
    width: 100%;
  }
}

.aboutBottomBox{
  display: flex;
  padding-top: 60px;
  height: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
  @media @phone{
    height: 400px;
  }

  .row1{
    display: flex;
    flex-direction: row;
    height: 30%;
    @media @phone{
      height: 33%;
    }
    h2{
      margin-left: 20px;
      width: 80%;
      @media @phone{
        width: 70%;
        font-size: 2rem;
      }
    }
    
  }
  .row2{
    display: flex;
    flex-direction: row;
    height: 33%;
  }
  .block1{
    background: @licorice;
    height: 100%;
    width: 20%;
    align-self: flex-start;
    @media @ABTtablet{
      width: 40%;
    }
  }
  .block2{
    background: @licorice;
    height: 100%;
    width: 40%;
    align-self: flex-start;
    @media @ABTtablet{
      width: 68%;
      }
  }
  .block3{
    background: @licorice;
    height: 37%;
    width: 60%;
    align-self: flex-start;
    @media @ABTtablet{
      width: 100%;
  }
}
}

.footerABT{
  background: #6488DD;
  height: 500px;
  width: 100%;
  margin-top: 938px;
 @media @ABTtablet {
   margin-top: 1396px;
 }
 @media @phone {
   margin-top: 1887px;
 }
 ul{
  display: flex;
  justify-content: center;
  align-self: flex-end;
  transform: translate(0, 400px);
 }
 a{
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-decoration: none;
  margin-top: 15px;
  color: black;
}
}
