.banner {
  background-color: lightgray;
  height: 500px;
  h1 {
    padding-top: 90px;
    padding-bottom: 30px;
  }
  p {
    padding-bottom: 30px;
  }
  button {
    padding: 10px;
    margin: 0 10px 0 10px;
    width: 90px;
  }
}