// NAVIGATION
#header-main {
  background: rgb(252, 236, 79);
  @media @phone {
    max-width: 100%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    @media @phone {
      flex-direction: row-reverse;
      padding-left: 40px;
      padding-right: 40px;
      height: 80px;
      position: fixed;
      width: 100%;
    }

    #logo {
      display: flex;
      align-items: center;
      flex-direction: row;
      transform: translate(0px, 4px);
      margin-left: 60px;
      @media @phone {
        margin-left: 0px;
        justify-items: flex-start; 
      }
      img {
        transform: translate(0px, -21px);
      }
      .title {
        font-size: 24px;
        font-weight: 500;
      }
      .title::after {
        content: attr(data-end);
        font-size: 12px;
        padding-left: 2px;
      }
    }

    .menu-button {
      .line {
        width: 35px;
        height: 5px;
        background-color:rgb(46, 114, 185);
        margin: 6px 0;
        display: none;
        @media @phone {
          display: block;
        }
      }
    }

    .headerLinks {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-right: 60px;
      height: 70px;
      @media @phone {
        flex-direction: column;
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0;
        display: none;
      }
      a {
        text-decoration: none;
        text-align: center;
        color: #0d0221;
        padding: 20px;
        font-size: 14px;
        font-weight: 500;
        margin: 10px;
        @media @phone {
          padding: 0;
        }   
      }
      a:hover {
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
      }
      #id-btn {
        height: 50px;
        width: 120px;
        background: rgb(46, 114, 185);
        color: white;
        flex-grow: 2;
      }
    }
  }

  nav:hover {
    background: white;
  }
}
// Mobile size Menu 
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  a {
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    color: #0d0221;
    margin-left: 20px;
  }
  @media @phone {
    display: flex;
    position: fixed;
    text-align: left;
    top: 75px;
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color: white;
    border-left: none;
    border-bottom: none;
    z-index: 2; 
    margin: 0 0 0 0;
    transition: height 1000ms;
  }
}
.menu-open {
  height: 50px;
}

// BANNER 
.banner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  background: rgb(252, 236, 79);
  height: 600px;
  padding-top: 70px;
  z-index: 3;
  @media @phone {
    flex-direction: column;
    justify-content: center;
    padding-top: 160px;
    height: 900px;
  }
  .home-content {
    padding-top: 30px;
    @media @tablet {
      padding-right: 30px;
    }
    @media @phone {
      padding: 0px;
    }
    h1 {
      font-size: 40px;
      font-weight: 600;
      line-height: 1.6;
      @media @phone {
        font-size: 30px;
        line-height: 1.7;
      }
    }

    p {
      padding-bottom: 20px;
      padding-top: 30px;
      font-size: 20px;
      @media @phone {
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 30px;
      }
    }
    .learn-btn {
      width: 160px;
      padding: 15px;
      font-size: 16px;
      font-weight: 600;
      border: transparent;
      background:rgb(205, 210, 208);
      margin-top: 20px;
      @media @phone {
        margin-top: 5px;
      }
    }
  }

  .circle-wrap {
    position: relative;
    padding-left: 30px;
    padding-top: 70px;
    padding-right: 80px;
    @media @tablet {
      padding-right: 30px;
      padding-top: 90px;
    }
    @media @phone {
      padding: 30px 0px 0px 0px;
    }
  }

  .text {
    font-size: 35px;
    line-height: 2.2;
    letter-spacing: 1px;
    position: absolute;
    text-align: middle;
    z-index: 5;
    top: 28%;
    left: 45%;
    transform: translate(-50%);
    color: #0d0221;
    font-weight: 600;
    @media @tablet {
      font-size: 30px;
      top: 32%;
      left: 48%;
      transform: translate(-50%);
    }
    @media @phone {
      font-size: 30px;
      top: 32%;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .radial-progress {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: rgb(205, 210, 208);
    border-radius: 50%;

    .circle {
      .mask, .fill, .shadow {
          width: 300px;
          height: 300px;
          position: absolute;
          border-radius: 50%;
      }
      .shadow {
          box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1) inset;
      }
      .mask, .fill {
          -webkit-backface-visibility: hidden;
          transition: -webkit-transform 2s;
          transition: -ms-transform 2s;
          transition: transform 2s;
      }
      .mask {
          clip: rect(0px, 300px, 300px, 300px/2);
          .fill {
              clip: rect(0px, 300px/2, 300px, 0px);
              background:rgb(46, 114, 185);
          }
        }
    }
    .inset {
        width: 260px;
        height: 260px;
        position: absolute;
        margin-left: (300px - 260px)/2;
        margin-top: (300px - 260px)/2;
        background: rgb(205, 210, 208);
        opacity: 0.9;
        border-radius: 50%;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.8);
    }
  }
}

// FOOTER
#footer-main {
  bottom: 0;
  margin-bottom: 0px;
  height: 80px;
  a {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-decoration: none;
    margin-top: 15px;
    color: black;
  }
}
