#header {
  background-color: #f1f1f1;
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: grey;
    padding: 25px;
    font-size: 14px;
  }
}