
h2 {
  color: black;
}
p {
  color: black;
}

body {
  // background: rgb(252, 236, 79);
}

header {
  background: rgb(252, 236, 79);
}

header:hover {
  background-color: white;
}

.bannerWelcome {
  margin-top: 0px;
  padding-top: 2rem;
  background-color: rgb(252, 236, 79);
  h2 {
    text-align: center;
    color: black;
    margin: 0 0 2rem 0;
    font-size: 3rem;
    @media @phone {
      color: black;
      padding-top: 120px;
    }
  }
}

.tabs {
  width: 100%;
  .tabs-items {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 1.8rem;
    z-index: -2;

  }
  .tabs-item {
    display: none;
    width: 75%;
    color: black;
    .tabs-item-title {
      font-size: 3rem;
      font-weight: bold;
      padding-bottom: 10px;
      @media @phone {
        z-index: -2;
      }
    }
    .uiDevs {
      .profile {
        margin-bottom: 2rem;
      }
    }
  }
  .tabs-item-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    @media @phone {
      z-index: -2;
    }
  }

  .tabs-links {
    display: flex;
    // max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(252, 236, 79);
    transform: translate(0px, -21px);



    @media @phone {
      flex-direction: column;
      // margin: 0 1rem;
      background-color: none;
      color: black;
      width: 100%;
      padding-bottom: 0;
      z-index: -2;
    }
  }

  .tabs-link {
    padding: 15px 20px;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    &:hover {
      background-color: white;
    }

    @media @phone {
      text-align: center;
      font-size: 2rem;
      border-radius: 0;
      border: 1px solid black;
      background-color: none;
      color: black;
      z-index: -1;

    }
  }
  .tabs-link-selected {
    background-color: white;
    color: black;
    &:hover {
      background-color: white;
    }
  }


  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    max-width: 500px;
    h2 {
      font-size: 2.4rem;
      padding: 1rem;
    }
    img {
      border-radius: 10px;
    }
    p {
      font-size: 1.6rem;
      margin: 1rem;
      padding: 0 1rem 0 1rem;
    }
    a {
      width: 100px;
    }

  }

  .gitLogo {
    width: 90%;
    height: auto;
  }
}

// NAVIGATION
#header-main {
  background: rgb(252, 236, 79);
  @media @phone {
    max-width: 100%;
    z-index: 2;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    @media @phone {
      z-index: 2;
      flex-direction: row-reverse;
      padding-left: 40px;
      padding-right: 40px;
      height: 80px;
      position: fixed;
      width: 100%;
    }

    #logo {
      display: flex;
      align-items: center;
      flex-direction: row;
      transform: translate(0px, 4px);
      margin-left: 60px;
      @media @phone {
        margin-left: 0px;
        justify-items: flex-start; 
      }
      img {
        transform: translate(0px, -21px);
      }
      .title {
        font-size: 24px;
        font-weight: 500;
      }
      .title::after {
        content: attr(data-end);
        font-size: 12px;
        padding-left: 2px;
      }
    }

    .menu-button {
      .line {
        width: 35px;
        height: 5px;
        background-color:rgb(46, 114, 185);
        margin: 6px 0;
        display: none;
        @media @phone {
          display: block;
        }
      }
    }

    .headerLinks {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-right: 60px;
      height: 70px;
      @media @phone {
        flex-direction: column;
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0;
        display: none;
      }
      a {
        text-decoration: none;
        text-align: center;
        color: rgb(29, 44, 47);
        padding: 20px;
        font-size: 14px;
        font-weight: 500;
        margin: 10px;
        @media @phone {
          padding: 0;
        }   
      }
      a:hover {
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
      }
      #id-btn {
        height: 50px;
        width: 120px;
        background: rgb(46, 114, 185);
        color: white;
        flex-grow: 2;
        transition: background 600ms;
      }
      #id-btn:hover {
        background: rgb(40, 70, 77)
      }
    }
  }

  nav:hover {
    background: white;
  }
}
// Mobile size Menu 
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  a {
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(29, 44, 47);
    margin-left: 20px;
    margin-right: 20px;
  }
  .mobile-login {
    background: rgb(46, 114, 185);
    padding: 10px;
    height: 35px; 
    color: white;  
  }
  @media @phone {
    display: flex;
    position: fixed;
    text-align: left;
    top: 75px;
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color: white;
    border-left: none;
    border-bottom: none;
    z-index: 2; 
    margin: 0 0 0 0;
    transition: height 1000ms;
  }
}
.menu-open {
  height: 50px;
}




//FOOTER
#footerTeam {
  bottom: 0;
  margin: 30px auto 0 auto;
  text-align: center;
  height: 80px;
  a {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-decoration: none;
    margin-top: 15px;
    color: black;
  }
}
