// Variables

// Color pointers
@font-color:
@nav-background: 
@about-banner: 

// Color Vars
@light-green: #d4e09b;
@cream: #f6f4d2;
@sage-green: #cbdfbd;
@light-orange: #f19c79;
@dark-royal-blue: #a44a3f;
@licorice: #14150F;
@porcelain: #F6F7F8;

@light-cream: #f2eee8;
@black: #0d0221;
@bright-teal: #7fefbd;
@denim-blue: #54577c;
@navy: #0f084b;


// Mobile var
@phone: ~"(max-width:500px)";