
// Phone MQ
@phone: ~"(max-width: 550px)";

// Color Vars
@light-green: #d4e09b;
@cream: #f6f4d2;
@sage-green: #cbdfbd;
@light-orange: #f19c79;
@dark-royal-blue: #a44a3f;
@licorice: #14150F;
@porcelain: #F6F7F8;
//palette_1
@light-cream: #f2eee8;
@black: #0d0221;
@bright-teal: #7fefbd;
@denim-blue: #54577c;
@navy: #0f084b;

// Elements
@background: white ;
@headers: black ;
@textColor: black;
@buttonBKG: white ;
@active: white;
@headerColor: black;
